- name: Check docker status for Ubuntu
  hosts: ubuntu
  become: true
  gather_facts: false
  tasks:
    - name: Enable and start Docker service
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: started
      loop:
        - docker
        - containerd

- name: Check docker status for NixOS
  hosts: nixos
  become: true
  gather_facts: false
  tasks:
    - name: Enable and start Docker service
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: started
      loop:
        - docker
